<!doctype html>
<html lang="ch">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>个人中心</title>
		<script src="js/jquery-1.11.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script>
			$(function() {
				$(".meun-item").click(function() {
					$(".meun-item").removeClass("meun-item-active");
					$(this).addClass("meun-item-active");
					var itmeObj = $(".meun-item").find("img");
					itmeObj.each(function() {
						var items = $(this).attr("src");
						items = items.replace("_grey.png", ".png");
						items = items.replace(".png", "_grey.png")
						$(this).attr("src", items);
					});
					var attrObj = $(this).find("img").attr("src");;
					attrObj = attrObj.replace("_grey.png", ".png");
					$(this).find("img").attr("src", attrObj);
				});
				$(".toggle-btn").click(function() {
					$("#leftMeun").toggleClass("show");
					$("#rightContent").toggleClass("pd0px");
				})

			})
		</script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/slide.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/flat-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery.nouislider.css">
	</head>

	<body>
		<div id="wrap">
			<!-- 左侧菜单栏目块 -->
			<div class="leftMeun" id="leftMeun">
				<div id="logoDiv">
					<p id="logoP"><span>后台管理</span></p>
				</div>
				<div id="personInfor">
					<p>
						<a id="back">退出登录</a>
					</p>
				</div>
				<div class="meun-item meun-item-active" href="#sour" aria-controls="sour" role="tab" data-toggle="tab"><img src="images/icon_source.png">资源管理</div>

				<div class="meun-item" href="#chan" aria-controls="chan" role="tab" data-toggle="tab"><img src="images/icon_change_grey.png">修改密码</div>
			</div>
			<!-- 右侧具体内容栏目 -->
			<div id="rightContent">
				<a class="toggle-btn" id="nimei">
					<i class="glyphicon glyphicon-align-justify"></i>
				</a>·
				<!-- Tab panes -->
				<div class="tab-content">
					<!-- 资源管理模块 -->
					<div role="tabpanel" class="tab-pane active" id="sour">

						<div class="data-div">
							<div class="row tableHeader" id="listhead">
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
									尊姓大名
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									心仪门派
								</div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
									飞鸽传书
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									门派回复
								</div>
							</div>
							<div class="tablebody">
								<div class="row">
									<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1   levl3">
										zzz
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  levl3">
										<span></span><span>zzz</span>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
										15382327056@163.com
									</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
										<!--<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#changeSource">已同意</button>-->
										<button class="btn btn-warning btn-xs" id ="huifu" ata-toggle="modal" data-target="#changeSource">审核中</button>
										<!--<button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteSource">被拒绝</button>-->
									</div>
								</div>
							</div>
						</div>
						<!--页码块-->
						<footer class="footer">
							<ul class="pagination">
								<li>
									<select>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
										<option>10</option>
									</select>
									页
								</li>
								<li class="gray">
									共20页
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-left">
                                    </i>
								</li>
								<li>
									<i class="glyphicon glyphicon-menu-right">
                                    </i>
								</li>
							</ul>
						</footer>


					</div>

					<!-- 修改密码模块 -->
					<div role="tabpanel" class="tab-pane" id="chan">

						<div style="padding: 50px 0;margin-top: 50px;background-color: #fff; text-align: right;width: 420px;margin: 50px auto;">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">原密码：</label>
									<div class="col-xs-5">
										<input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="" style="margin-top: 7px;">
									</div>
								</div>
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">新密码：</label>
									<div class="col-xs-5">
										<input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="" style="margin-top: 7px;">
									</div>
								</div>
								<div class="form-group">
									<label for="sKnot" class="col-xs-4 control-label">重复密码：</label>
									<div class="col-xs-5">
										<input type="" class="form-control input-sm duiqi" id="sKnot" placeholder="" style="margin-top: 7px;">
									</div>
								</div>
								<div class="form-group text-right">
									<div class="col-xs-offset-4 col-xs-5" style="margin-left: 169px;">
										<button type="submit" class="btn btn-xs btn-green">保 存</button>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery.nouislider.js"></script>
		<script type="text/javascript">

			$(document).ready(function() {
				$("#back").on("click",function(){
					window.location.href="/login";
				});
			    $.ajax({
			        type: 'POST',
			        url: '/data/query',
			        // data: obj,
			        success: function(data) {
			            if (data.status) {
			            	var obj = data.info;
			            	for(var i = 0 ; i < obj.length ; i++){
			            		switch(obj[i].flag){
			            			case 0:
			            				$('#listhead').after("<div class='tablebody'><div class='row'><div class='col-lg-1 col-md-1 col-sm-1 col-xs-1   levl3'>"
			            				+ obj[i].name +
			            				"</div><div class='col-lg-4 col-md-4 col-sm-4 col-xs-4  levl3'><span></span><span>"
			            				+ obj[i].subject+
			            				"</span></div><div class='col-lg-5 col-md-5 col-sm-5 col-xs-5'>"
			            				+ obj[i].email+
									    "</div><div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 '><button class='btn btn-warning btn-xs' id ='huifu' ata-toggle='modal' data-target='#changeSource'>审核中</button></div></div></div>");
										break;
									case 1:
										$('#listhead').after("<div class='tablebody'><div class='row'><div class='col-lg-1 col-md-1 col-sm-1 col-xs-1   levl3'>"
			            				+ obj[i].name +
			            				"</div><div class='col-lg-4 col-md-4 col-sm-4 col-xs-4  levl3'><span></span><span>"
			            				+ obj[i].subject+
			            				"</span></div><div class='col-lg-5 col-md-5 col-sm-5 col-xs-5'>"
			            				+ obj[i].email+
									    "</div><div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 '><button class='btn btn-success btn-xs' data-toggle='modal' data-target='#changeSource'>已同意</button></div></div></div>");
										break;
									case 2:
										$('#listhead').after("<div class='tablebody'><div class='row'><div class='col-lg-1 col-md-1 col-sm-1 col-xs-1   levl3'>"
			            				+ obj[i].name +
			            				"</div><div class='col-lg-4 col-md-4 col-sm-4 col-xs-4  levl3'><span></span><span>"
			            				+ obj[i].subject+
			            				"</span></div><div class='col-lg-5 col-md-5 col-sm-5 col-xs-5'>"
			            				+ obj[i].email+
									    "</div><div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 '><button class='btn btn-danger btn-xs' id ='huifu' ata-toggle='modal' data-target='#changeSource'>被拒绝</button></div></div></div>");
										break;
			            		}
			            	}
			            } else {

			            }
			        },
			        error: function() {
			            
			        },
			        dataType: 'json'
			    });
			});
		</script>
	</body>

</html>